Notes are from below channel
https://www.youtube.com/playlist?list=PLeo1K3hjS3uuASpe-1LjfG5f14Bnozjwy

Tutorial 2

In [32]:
import pandas as pd
df = pd.read_csv("weather_data.csv")

In [33]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
rows, columns = df.shape
print('rows = {} columns = {}'.format(rows,columns))

rows = 6 columns = 4

In [6]:
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [7]:
df.tail(1) # print last row

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [8]:
df[2:5] # prints rows 2,3,4

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [9]:
df.columns # gives all columns title

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [10]:
df.day  #print day column

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [11]:
type(df.day)

pandas.core.series.Series

In [12]:
df[['day','temperature']]  # gives 2 columns

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

In [19]:
df['temperature'].max()
df.temperature.max()  #either of way is fine

35

In [14]:
 df.describe()  # bring all stats of dataset. It considers rows having numerical data.

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [18]:
df[df.temperature >=32]  #conditional selection

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [23]:
#In above case if we want only one column then we can say
df['windspeed'][df.temperature > 32].mean()

7.0

In [34]:
# we are getting index automatically. If we want some column to act as index we can do that as
# If we do not give inplace as flase then original dataframe will get modified.
df.set_index('day', inplace=False)

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [35]:
# In above example, we are not changing original dataframe, so if we go to print df again we get day as an index.
# to undo index change use reset_index()
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [37]:
df.loc[1]  # return row at specified indexa

day            1/2/2017
temperature          35
windspeed             7
event             Sunny
Name: 1, dtype: object

Tutorial 3

In [43]:
df = pd.read_excel('weather_data.xlsx','Sheet1')
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [46]:
#we can create dataframe using dictoionary also
weatherdata_dict = {
    'day':['1/1/2017','1/1/2017','1/1/2017'],
    'temperature':[32,35,38],
    'windspeed':[6,7,2],
    'event':['rain','sunny','snow']
}
df = pd.DataFrame(weatherdata_dict)
df

        day  event  temperature  windspeed
0  1/1/2017   rain           32          6
1  1/1/2017  sunny           35          7
2  1/1/2017   snow           38          2

In [48]:
#we can create dataframe using tuple also
weatherdata_tuple = [
    ('1/1/2017',32,6,'rain'),
    ('1/2/2017',34,7,'sunny')
]
df = pd.DataFrame(weatherdata_tuple, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           34          7  sunny

In [49]:
# we can create data frame using list of dictionaries
weatherdata_listofdict = [
    {'day':'1/1/2017','temperature':32,'windspeed':5,'event':'rain'},
    {'day':'1/2/2017','temperature':33,'windspeed':6,'event':'sunny'}
]
df = pd.DataFrame(weatherdata_listofdict)
df

        day  event  temperature  windspeed
0  1/1/2017   rain           32          5
1  1/2/2017  sunny           33          6

There are many other ways to read dataframes those are listed in pandas io