In [8]:
import pandas as pd

df = pd.read_csv('aapl.csv', parse_dates=['Date'], index_col='Date') # paarse_dates will consider columns in
# given list as date type and index_col makes Date as index df
df.head(4)

              Open    High     Low   Close    Volume
Date
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-03  144.88  145.30  143.10  143.50  14277848

In [7]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [10]:
df['2017-07'] # partial index give partial result. Thi example gives rows of 2017 yearand 7th month

              Open    High     Low   Close    Volume
Date
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-03  144.88  145.30  143.10  143.50  14277848